*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.invoice-nr {
    margin-left: auto;
    text-align: right;
}

.header {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

footer {
    text-align: right;
    font-weight: lighter;
    margin: 0;
}

.summary-container {
    display: flex;               
    justify-content: flex-start;
    margin: 20px 0;             
}

.billing-information {
    width: 200px;
    margin-right: 20px;
}

.payment-summary {
    padding: 10px;               
    max-width: 600px;            
    margin-left: 10px;           
    margin-right: 0;             
}

.box {
    display: flex;               
}

.box div {
    flex: 1;                    
    text-align: center;         
    padding: 5px;               
    border: 1px solid #420606;  
    margin: 0;                  
}
.billable-details {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: none;
    padding: 10px;
    text-align: left;
}

.total-due {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-end;
    font-weight: bolder;
    
    
}





